{% extends 'AppProyecto/padre.html' %}

{% block titulo %}Autores{% endblock %}

{% block encabezado %}Autores{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                
                <h4>Informacion del autor</h4>
                <p>nombre: {{autor.nombre}} {{autor.apellido}}</p>  
                <p>edad: {{autor.edad}}</p>     
                
                <img src="{{ autor.foto.url }}"  height="500px">
                
                <p>biografia: {{autor.biografia}}</p>
                
                <p>
                    <a href="{% url 'list-autor' %}">Regresar</a>
                </p>
                

                
            </div>
        </div>
    </div>
</section>

{% endblock %}

<!-- listo -->