{% extends 'AppProyecto/padre.html' %}

{% block titulo %}Libros{% endblock %}

{% block encabezado %}Libros{% endblock %}



{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 

                
                <h4>Libros</h4>
                {% for libro in object_list %}

                <li>
                    <p>Nombre: {{ libro.titulo }} ({{ libro.editorial }})</p>
                    <p>
                        <a href="{% url 'detail-libro' libro.id %}">Ver</a>
                        <a href="{% url 'update-libro' libro.id %}">Editar</a>
                        <a href="{% url 'delete-libro' libro.id %}">Eliminar</a>
                    </p>
                
                </li>
                {% endfor %}

                <a href="{% url 'add-libro' %}">Agregar Libro</a>

            </div>
        </div>
    </div>
</section>

{% endblock %}
<!-- listo -->