{% extends 'AppProyecto/padre.html' %}
{% block titulo %}Bienvenido a Info Libros{% endblock %}

{% block encabezado %}Bienvenido a Info Libros, el sitio sobre libros{% endblock %}

{% block contenido %}
<section class="mt-5 text-center">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                <h1>Has cerrado sesion</h1>

                

                
                                
            </div>
        </div>
    </div>
</section>

{% endblock %}